extends layout.pug

block content
  .wrap
    #search-form-region
      form.search-form.sleeping(action='/search', autocomplete='off')
        a.logo(href='/')
          span.dot.homura(style='background: #5F5A5C')
          span.dot.madoka(style='background: #FED4D7')
          span.dot.mami(style='background: #F9E797')
          span.dot.sayaka(style='background: #89BBCB')
          span.dot.kyoko(style='background: #BE6F81')
        input.query(type='text' name='q' value=query)
        select#scope.scope(name='s')
          each site in sites
            option(value=site.id selected=matchedSite && site.id === matchedSite.id)= site.name
        button(type='submit') 搜索
        button(type='submit' name='l') 手气不错
    #message-region
    #search-results-covers-region
    .push
