doctype html
html(lang='zh-CN')
meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
meta(name='theme-color', content='#000')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='renderer', content='webkit')
title Holly Quintet
block content
