extends home.pug

block append content
  .results
    for result in results
      .result
        a(href=result.originSrc)
          img(src=result.src)
        a(href=result.refer)= result.title || query
