script#loading-template(type='text/html')
  include loading.html

script#search-form-template(type='text/html')
  include search-form.html

script#cover-template(type='text/html')
  include cover.html

script#no-results-cover-template(type='text/html')
  include no-results-cover.html

script#message-template(type='text/html')
  include message.html
