extend ../layout

block title
  title= title ? title : 'Holly Quintet'

block meta
  meta(name='twitter:card' content='summary' )
  meta(name='twitter:title' content='Holly Quintet' )
  meta(name='twitter:description' content='这个网站可以方便地搜索专辑封面。' )
  meta(name='twitter:url' content='http://hollyquintet.tomaketheendofbattle.com' )

block css
  meta(name='twitter:card' content='summary' )
  meta(name='twitter:title' content='Holly Quintet' )
  meta(name='twitter:description' content='这个网站可以方便地搜索专辑封面。' )
  meta(name='twitter:url' content='http://hollyquintet.tomaketheendofbattle.com' )
  link(rel='stylesheet' href='//cdn.jsdelivr.net/fontawesome/4.5.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='//cdn.jsdelivr.net/animatecss/3.5.1/animate.min.css')
  script(src='//cdn.jsdelivr.net/g/jquery@2.2.2,lodash@3.10.1,backbonejs@1.3.2,backbone.marionette@2.4.5')

block main
  .wrap
    #search-form-region
    #message-region
    #search-results-covers-region

    .push

  footer
    include include/info

block js
  include include/ga
