aside.info-dialog.mdc-dialog(data-mdc-auto-init='MDCDialog')
  .mdc-dialog__surface
    header.mdc-dialog__header
      h2.mdc-dialog__header__title
        span.material-icons info
        span 关于
    section.mdc-dialog__body
      p
        span.word-group
          span.logo Holly Quintet
        span 是我制作的用来在一些包含音乐图片的网站查找
        span.word-group
          span.material-icons photo
          span 图片
        span 的
        span.word-group
          span.material-icons web
          span 网站程序
        span 。它能帮助我在Google进行特定的站内图片搜索。如果有办法找到更
        span.word-group
          span.material-icons hd
          span 清晰
        span 的图片，它还会帮我在
        span.word-group
          span.material-icons vertical_align_bottom
          span 下载
        span 的时候替换。
      p
        span 我刚刚制作完成这个
        span.word-group
          span.material-icons web
          span 网站程序
        span 时，兴高采烈地把我电脑中保存的
        span.word-group
          span.material-icons music_note
          span 音乐文件
        span ID3中的封面都替换成了通过它找到的更
        span.word-group
          span.material-icons hd
          span 清晰
        span 的图片。对于不是很理解整理
        span.word-group
          span.material-icons memory
          span 电子资料
        span 乐趣的人来说，这可能就像波利尼西亚人建造的复活节岛石像一样毫无意义吧。
      p
        span 不过，后来我在
        span.word-group
          span.material-icons language
          span 网上
        span 发现，竟还有
        span.word-group
          span.material-icons people
          span 不少人
        span 有这样的奇怪习惯！就像有很多人热爱复活节岛石像。我便把这个
        span.word-group
          span.material-icons web
          span 网站程序
        span 安置到一个公开的
        span.word-group
          span.material-icons cloud
          span 服务器
        span ，供大家一起使用，也把
        span.word-group
          span.material-icons web
          span 网站程序
        span 的
        span.word-group
          span.material-icons code
          span 源代码
        span 上传到了
        a.word-group(href='https://github.com/arianrhodsandlot/Holly-Quintet' target='_blank')
          span.material-icons open_in_new
          span GitHub
        span 上。
      p
        span 如果你认为这个
        span.word-group
          span.material-icons web
          span 网站程序
        span 对其他人或许也有用，就试着推荐给他们吧！
      p.meta
        span.meta-item
          span © 2018
          a(href='https://tomaketheendofbattle.com' target='_blank') tomaketheendofbattle.com
        a.meta-item(href='mailto:theguidanceofawhitetower@gmail.com') Feedback
        a.meta-item(href='https://github.com/arianrhodsandlot/Holly-Quintet' title='GitHub - arianrhodsandlot/Holly-Quintet: A web app to search discs&#39; cover from iTunes, Amazon, Netease Music, etc.' target='_blank')
          img(src='https://img.shields.io/github/stars/arianrhodsandlot/Holly-Quintet.svg?style=social&label=Star')

    footer.mdc-dialog__footer
      button.mdc-button.mdc-dialog__footer__button.mdc-dialog__footer__button--accept(type='button') 关闭
  .mdc-dialog__backdrop
