unless req.xhr
  doctype html
  html
    head
      title= title

      link(rel="stylesheet", href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css")
      link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
      link(href="https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica:400i" rel="stylesheet")
      link(rel='stylesheet', href='/stylesheets/app.css')

      script(src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js")
      script(src='https://unpkg.com/page/page.js')
      script(src='/javascripts/app.js')
    body(class=`page-${pageName}`)
      block header
      .content
        block content
else
  block content
