.mdc-image-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0; }

.mdc-image-list__item,
.mdc-image-list__image-aspect-container {
  position: relative;
  box-sizing: border-box; }

.mdc-image-list__item {
  list-style-type: none; }

.mdc-image-list__image {
  width: 100%; }

.mdc-image-list__image-aspect-container .mdc-image-list__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.mdc-image-list__image-aspect-container {
  padding-bottom: calc(100% / 1); }

.mdc-image-list__supporting {
  color: rgba(0, 0, 0, 0.87);
  /* @alternate */
  color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 8px 0;
  line-height: 24px; }

.mdc-image-list__label {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.00937em;
  text-decoration: inherit;
  text-transform: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.mdc-image-list--with-text-protection .mdc-image-list__supporting {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48px;
  padding: 0 16px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff; }

.mdc-image-list--masonry {
  display: block; }
  .mdc-image-list--masonry .mdc-image-list__item {
    break-inside: avoid-column; }
  .mdc-image-list--masonry .mdc-image-list__image {
    display: block;
    height: auto; }

html, body {
  margin: 0;
  padding: 0; }

.mdc-top-app-bar {
  z-index: 1; }
  .mdc-top-app-bar .mdc-top-app-bar__title {
    color: white;
    line-height: 1.6;
    font-size: 26px; }
    .mdc-top-app-bar .mdc-top-app-bar__title .material-icons,
    .mdc-top-app-bar .mdc-top-app-bar__title h1 {
      line-height: 1.6;
      font-size: 26px;
      vertical-align: middle;
      font-size: 26px;
      display: inline-block;
      font-weight: bold !important; }
    .mdc-top-app-bar .mdc-top-app-bar__title .material-icons {
      font-size: 36px; }
    .mdc-top-app-bar .mdc-top-app-bar__title h1 {
      margin: 0 0 0 10px;
      font-family: "IM Fell Double Pica", serif !important; }

.bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #fff;
  background-image: url(https://3.bp.blogspot.com/-KbD3L4uuC4w/Wh6vtc1t_UI/AAAAAAACLhs/7clE7Kw5YhcND-3cWfKdNLr8hx2x7hjiwCEwYBhgL/s640/jazz%2B001dse.jpg);
  background-attachment: fixed;
  background-size: cover;
  filter: blur(18px) opacity(0.3);
  transform: scale(1.5); }

.mdc-text-field {
  margin: auto;
  display: block; }

.mdc-text-field--outlined .mdc-text-field__input.query {
  width: 900px; }

.albums {
  width: calc(100% - 48px);
  padding: 2px;
  margin: 0 auto 0 auto; }

.chips {
  width: 790px;
  margin: 20px auto 0 auto; }

.form-container {
  padding: 0;
  height: 72px;
  margin: 20px auto 0 auto;
  transition: height .3s; }
  .form-container > div {
    height: 100%; }
  .page-index .form-container {
    height: calc(100vh - 300px); }
    .page-index .form-container > div {
      height: 100%; }
  .form-container form {
    padding: 0; }

.album-container {
  position: relative;
  transition: box-shadow .3s, transform .3s;
  overflow: hidden;
  border-radius: 4px; }
  .album-container .download-mask {
    opacity: 0;
    position: absolute;
    transition: opacity .5s;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;
    text-decoration: none; }
    .album-container .download-mask .material-icons {
      color: rgba(255, 255, 255, 0.9);
      font-size: 80px;
      transform: scale(1.5);
      transition: transform .5s; }
  .album-container .album-img {
    background: rgba(80, 80, 80, 0.3);
    object-fit: cover; }
  .album-container .album-meta {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(0, 100%);
    transition: transform .3s;
    padding: 10px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 14px;
    color: white;
    text-decoration: none; }
    .album-container .album-meta a {
      color: white;
      text-decoration: none; }
    .album-container .album-meta .material-icons {
      vertical-align: middle;
      margin: 0 10px 0 0; }
  .album-container:hover {
    box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 20px 31px 3px rgba(0, 0, 0, 0.14), 0 8px 38px 7px rgba(0, 0, 0, 0.12);
    transform: scale(1.01); }
    .album-container:hover .download-mask {
      opacity: 1; }
      .album-container:hover .download-mask .material-icons {
        transform: scale(1); }
    .album-container:hover .album-meta {
      transform: translate(0, 0);
      bottom: 0; }

.album-placeholder .album-container {
  box-shadow: none; }
  .album-placeholder .album-container:hover {
    transform: none; }
  .album-placeholder .album-container .album-meta,
  .album-placeholder .album-container .download-mask {
    display: none; }

.page-index .content {
  display: none; }

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }
