.message
  border-radius 2px
  color #aaa
  size 100% auto
  text-align center
  font-size 12px
  margin 0 auto
  padding 4px 20px
  line-height 16px
  position absolute
  @media (max-width: 1000px)
    display block
    size 90% auto
    absolute left (@width / 2)
    margin 0 auto 0 -40%
    padding 4px 20px
    text-align justify

.clear-cache
  color rgb(43, 123, 185)
  text-decoration none
  margin 0 2px
  @media (max-width: 1000px)
    background none
