extend ../layout

block title
  title= title ? title : 'Holly Quintet'

block meta
  meta(name='twitter:card' content='summary' )
  //- meta(name='twitter:site' content='@gnosis1988' )
  meta(name='twitter:title' content='Holly Quintet' )
  meta(name='twitter:description' content='这个网站可以方便地搜索专辑封面。' )
  meta(name='twitter:url' content='http://hollyquintet.tomaketheendofbattle.com' )

block css
  link(rel='stylesheet' href='//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css')

  link(rel='stylesheet' href='/dist/holly-quintet.css')

block main
  #search-form-region
  #search-results-covers-region

  include include/info
  include include/ribbon

block js
  script(src='//cdn.bootcss.com/jquery/2.1.4/jquery.min.js')
  script(src='//cdn.bootcss.com/lodash.js/3.10.1/lodash.min.js')
  script(src='//cdn.bootcss.com/backbone.js/1.2.2/backbone-min.js')
  script(src='//cdn.bootcss.com/backbone.marionette/2.4.2/backbone.marionette.min.js')

  script(src='/dist/holly-quintet.js')

  include include/ga
  include template/index
