<a href="/" class="logo">
  <% _.forEach(characters, function(character) { %>
    <span
      class="dot <%= character.name %>"
      style="background: <%= character.color %>"
    >
    </span>
  <% }) %>
</a><input type="text" name="query" class="query"
/><select id="scope" name="scope" class="scope">
  <% _.forEach(availableScopesGroups, function(availableScopesGroup) { %>
  <optgroup label="<%= availableScopesGroup.label %>">
    <% _.forEach(availableScopesGroup.scopes, function(availableScope) { %>
      <option
        value="<%= availableScope.value %>"
        <%= availableScope.value === scope ? 'selected' : null %>
      >
        <%= availableScope.path %>
      </option>
    <% }) %>
  </optgroup>
  <% }) %>
</select><button type="submit" class="submit"><i class="fa fa-search"></i></button>
