.info
  span © 2015
  span -
  span tomaketheendofbattle.com
  div.desktop
    span -
    span: a(href='mailto:theguidanceofawhitetower@gmail.com') Feedback
    span -
    span: a(href='https://github.com/arianrhodsandlot/Holly-Quintet') Open Source
