.info
  div
    span © 2016
    span -
    span tomaketheendofbattle.com
  .desktop
    span -
    span: a(href='mailto:theguidanceofawhitetower@gmail.com' title='Send me an email!') Feedback
    span -
    a(href='https://github.com/arianrhodsandlot/Holly-Quintet'
      title='GitHub - arianrhodsandlot/Holly-Quintet: A web app to search discs&#39; cover from iTunes, Amazon, Netease Music, etc.')
      img(src='//img.shields.io/github/stars/arianrhodsandlot/Holly-Quintet.svg?style=social&label=Star')
