.info
  div
    span © 2016
    span -
    span tomaketheendofbattle.com
  .desktop
    span -
    span: a(href='mailto:theguidanceofawhitetower@gmail.com') Feedback
    span -
    object(data='//img.shields.io/github/stars/arianrhodsandlot/Holly-Quintet.svg?style=social&label=Star' type='image/svg+xml')
