global-reset()
reset-html5()

*
  box-sizing border-box

html, body, .wrap
  min-height 100%
  clearfix()

html, body
  height 100%

body
  font-family 'Helvetica Neue', Helvetica, Roboto, Arial, 'Hiragino Sans GB', 'Heiti SC', 'Source Han Sans CN', 'WenQuanYi Micro Hei', sans-serif
  background #E8E8EA

.push
  margin 0 0 20px 0
