@keyframes sk-bounce
  0%
  100%
    transform scale(0)
    -webkit-transform scale(0)
  50%
    transform scale(1)
    -webkit-transform scale(1)
.loading
  max-width 100%
  width 600px
  margin auto
  color #888
  font-size 14px
  a
    color #888
    margin 0 2px
.spinner
  size 40px
  margin 100px auto 20px auto
  position relative
.double-bounce1,
.double-bounce2
  size 100%
  border-radius 50%
  background #aaa
  opacity .6
  absolute top 0 left 0
  -webkit-animation sk-bounce 1s infinite ease-in-out
  animation sk-bounce 2s infinite ease-in-out
.double-bounce2
  -webkit-animation-delay -1.0s
  animation-delay -1.0s
.warn
  text-align center
.error
  margin 100px auto 0 auto
  line-height 1.8
  max-width 100%
  width 300px
  letter-spacing 1px
  ul
    list-style disc
    margin 10px 0 0 20px
