.info
  text-align center
  color #aaa
  font-size 12px
  height 30px
  margin -@height 0 0 0
  line-height @height
  & div
    display inline
  & span
    margin 0 2px
    & a
      color #aaa

.ribbon > img
  absolute top 0 right 0
  border 0
