.info
  text-align center
  color #aaa
  font-size 12px
  height 30px
  margin -@height 0 0 0
  line-height @height
  overflow hidden
  div
  img
    display inline-block
    vertical-align middle
  span
  img
    margin 0 2px
  img
    size 76px 20px
  span
    a
      color #aaa
