.loading
  text-align center
  padding 50px 0 0 0
.info
  fixed right 10px bottom 10px
  text-align right
.contact-me
  color #e8e8ea
  font-weight bold
  text-decoration none
  background darken(@color, 6%)
  font-size 12px
  line-height @height
  text-align center
  border-radius 4px
  padding 2px 8px
  margin 0 4px 0 0

.ribbon
  display none

@media (max-width: 1000px)
  .ribbon
    display none

.message
  background rgba(255, 255, 255, .9)
  border-radius 2px
  width 660px
  font-size 12px
  box-shadow 0 0 10px #333
  fixed left 50% bottom 30px
  margin 0 0 0 (-@width / 2)
  padding 20px 30px
  z-index 2

.clear-cache
  color rgb(43, 123, 185)
  text-decoration none
  margin 0 2px
